<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<h2>Async Inn Hotel Manager</h2>
<nav>
    <a href="/Hotels">Add a Hotel</a>
    <a href="/Amenities">Add Amenities</a>
    <a href="/Rooms">Add a Room</a>
    <a href="/HotelRooms">Add a Room to a Hotel</a>
    <a href="/Home">Home</a>
</nav>
