@model AsyncInn.Models.HotelRoom

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<h2>Async Inn Hotel Manager</h2>
<nav>
    <a href="/Home">Home</a>
    <a href="/Hotels">Add a Hotel</a>
    <a href="/Amenities">Add Amenities</a>
    <a href="/Rooms">Add a Room</a>
    <a href="/HotelRooms">Add a Room to a Hotel</a>
    <a href="/RoomAmenities">View Amenities in each Room</a>
</nav>

<h2>Create</h2>

<article>

<h4>Hotel Room</h4>

    <hr />
    <div>
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="HotelID"></label>
                    <select asp-for="HotelID" asp-items="ViewBag.HotelID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="RoomID"></label>
                    <select asp-for="RoomID" asp-items="ViewBag.RoomID"></select>
                </div>
                <div>
                    <label asp-for="Rate"></label>
                    <input asp-for="Rate" />
                    <span asp-validation-for="Rate"></span>
                </div>
                <div>
                    <div>
                        <label>
                            <input asp-for="PetFriendly" /> @Html.DisplayNameFor(model => model.PetFriendly)
                        </label>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Create" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</article>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

