@model AsyncInn.Models.HotelRoom

@{
    ViewData["Title"] = "Edit";
    Layout = "_Header";
}

@await Html.PartialAsync("_NavigationPartial")

<h2>Edit</h2>

<article>

    <h4>Hotel Room</h4>
    <hr />
    <div>
        <div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="RoomNumber" />
                <div>
                    <label asp-for="HotelID"></label>
                    <select asp-for="HotelID" asp-items="ViewBag.HotelID"></select>
                    <span asp-validation-for="HotelID"></span>
                </div>
                <div>
                    <label asp-for="RoomID"></label>
                    <select asp-for="RoomID" asp-items="ViewBag.RoomID"></select>
                    <span asp-validation-for="RoomID"></span>
                </div>
                <div>
                    <label asp-for="Rate"></label>
                    <input asp-for="Rate" />
                    <span asp-validation-for="Rate"></span>
                </div>
                <div>
                    <div>
                        <label>
                            <input asp-for="PetFriendly" /> @Html.DisplayNameFor(model => model.PetFriendly)
                        </label>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</article>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

