h2 {
    margin: 20px auto;
    background-color: lightskyblue;
    max-width: 400px;
    padding: 20px;
    border: dashed 5px white;
    border-radius: 5px;
    text-align: center;
}

nav {
    margin: 20px auto;
    background-color: lightskyblue;
    max-width: 700px;
    padding: 10px;
    border: dashed 5px white;
    border-radius: 5px;
    text-align: center;
}

article {
    margin: 20px auto;
    background-color: lightskyblue;
    max-width: 900px;
    padding: 10px;
    border: dashed 5px white;
    border-radius: 5px;
    text-align: center;
}

body {
    background-image: url(AsyncInnImage.png);
    background-size: cover;
}
