@model AsyncInn.Models.Hotel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Header";
}

@await Html.PartialAsync("_NavigationPartial")

<h2>Edit</h2>

<article>

    <h4>Hotel</h4>
    <hr />
    <div>
        <div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="HotelID" />
                <div>
                    <label asp-for="Name"></label>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div>
                    <label asp-for="Address"></label>
                    <input asp-for="Address" />
                    <span asp-validation-for="Address"></span>
                </div>
                <div>
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" />
                    <span asp-validation-for="Phone"></span>
                </div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</article>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

