<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <title>@ViewBag.Title</title>
</head>

@RenderBody()

@RenderSection("Scripts", required: false)