@model AsyncInn.Models.Room

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<h2>Async Inn Hotel Manager</h2>
<nav>
    <a href="/Home">Home</a>
    <a href="/Hotels">Add a Hotel</a>
    <a href="/Amenities">Add Amenities</a>
    <a href="/Rooms">Add a Room</a>
    <a href="/HotelRooms">Add a Room to a Hotel</a>
    <a href="/RoomAmenities">View Amenities in each Room</a>
</nav>

<h2>Create</h2>

<article>

<h4>Room</h4>

    <hr />
    <div>
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <label asp-for="Name"></label>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div>
                    <label asp-for="Layout"></label>
                    <select asp-for="Layout" asp-items="@Html.GetEnumSelectList(typeof(AsyncInn.Models.Layout))"></select>
                    <span asp-validation-for="Layout"></span>
                </div>
                <div>
                    <input type="submit" value="Create" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</article>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

