@model AsyncInn.Models.Amenities

@{
    ViewData["Title"] = "Delete";
    Layout = "_Header";
}

@await Html.PartialAsync("_NavigationPartial")

<h2>Delete</h2>

<article>
    <h4>Amenities</h4>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="AmenitiesID" />
            <input type="submit" value="Delete" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</article>
