@model AsyncInn.Models.Amenities

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<h2>Async Inn Hotel Manager</h2>
<nav>
    <a href="/Home">Home</a>
    <a href="/Hotels">Add a Hotel</a>
    <a href="/Amenities">Add Amenities</a>
    <a href="/Rooms">Add a Room</a>
    <a href="/HotelRooms">Add a Room to a Hotel</a>
    <a href="/RoomAmenities">View Amenities in each Room</a>
</nav>

<h2>Details</h2>

<article>
    <div>
        <h4>Amenities</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.AmenitiesID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</article>
