@model AsyncInn.Models.RoomAmenities

@{
    ViewData["Title"] = "Edit";
    Layout = "_Header";
}

@await Html.PartialAsync("_NavigationPartial")

<h2>Edit</h2>

<article>
    <h4>RoomAmenities</h4>
    <hr />
    <div>
        <div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="AmenitiesID" />
                <input type="hidden" asp-for="RoomID" />
                <div>
                    <input type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</article>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
